@model Lab5.Models.Doctor

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Delete this doctor?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speciality)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input class="btn btn-primary col-md-auto" style="display: inline" type="submit" value="Delete" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>